// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #9fa9bb;
@light-gray: darken(@very-light-gray, 11%);
@gray: darken(@very-light-gray, 22%);
@dark-gray: #212834;
@very-dark-gray: #1d242f;

@cyan: #69b3c8;
@blue: #80abe3;
@purple: #b39de2;
@green: #63bc60;
@red: #e79199;
@orange: #e39762;
@fushia: #e189e2;
@yellow: #bfa661;